.header,
.expense {
  margin-right: 400px;
}
.container1 {
  background-color: rgb(58, 56, 56);
  color: white;
  width: 64%;
  padding: 5px;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 18%;
}

.cls1{
  display:flex;
  width: 64%;
  margin-left:19% ;
  margin-top: 10px;
  font-size: 19px;
  font-family: 'Times New Roman', Times, serif;
}